extends layout

block content
	div.text-center
		h1= title
		h3(class= comment=='Turn on or off your led'? 'default' : comment=='Led on'? 'on' : 'off')= comment
		a(class= 'btn btn-info' href='./on') On
		|
		|
		a(class= 'btn btn-danger' href='./off') Off